<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>웹서버에서 보내온 메시지</title>
    </head>
    <body>

        <h1>선택된 사람</h1>
        <p>id : <%=id%>번</p>
        <p>name : <%=username%></p>
        <p>age : <%=age%></p>
        <p>mobile : <%=mobile%></p>

        <div>
            <form action = "/page/menu">
                <button>메인으로</button>
            </form>
        </div>
    </body>

</html>

<!--html 확장자를 ejs로 바꾼거임 동일함-->