<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>웹서버에서 보내온 페이지</title>
    </head>
    <body>

        <div>
            <h1>프로그램 이름 <%=name%></h1>
            <h3>로그인하세요</h3>
        </div>

        <div>
            <form action="/page/first" method="get"> 
                <input type="text" name="username" value="">
                <input type="password" name="password" value="">

                <button>로그인</button>
            </form>
        </div>

        <div>
            <input type="text" id ="input1">
            <input type="text" id ="input2">

            <button onclick ="login()">로그인</button>
        </div>


        <script>
            function login() {
                console.log(`login 함수 실행`);

                const form = document.createElement(`form`);
                form.setAttribute(`action`, `/page/first`)
                form.setAttribute(`method`, `get`);

                const input1 = document.querySelector(`#input1`);
                const input2 = document.querySelector(`#input2`);

                const data1 = document.createElement(`input`)
                data1.setAttribute(`type`, `hidden`)
                data1.setAttribute(`name`, `username`)
                data1.setAttribute(`value`, input1.value)
                form.appendChild(data1);

                const data2 = document.createElement(`input`);
                data2.setAttribute(`type`, `hidden`);
                data2.setAttribute(`name`, `password`);
                data2.setAttribute(`value`, input2.value);
                form.appendChild(data2);

                document.body.appendChild(form); 
                form.submit();

            }
        </script>
    </body>

</html>